@import "./birthday";

.logo {
  font-size: 55px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
  a {
    color: black;
  }
  :hover {
    text-decoration: none;
  }
}

.signup-message{
    font-size: 20px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.gender {
  color: black;
}


.has-account {
  color: black;
  a {
    font-weight: bold;
  }
}

.submit-btn {
  margin-top: 10px;
  padding: 10px;
  background: #d200cc;
  border-color: #d200cc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;

  //font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
