.wave_bot {
    position: absolute;
    width: 1920px;
    height: 838.42px;
    left: -15px;
    top: 237px;
  }
  .wave_mid {
    position: absolute;
    width: 1920px;
    height: 838.42px;
    left: 0px;
    top: 241.58px;
  }
  .wave_top {
    position: absolute;
    width: 1920px;
    height: 838.42px;
    top: 258px;
  }