.navbar {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar .nav-link {
  color: white;
  font-size: 20px;
  margin-right: 35px;
}

.navbar .breakline {
  color: #ffffff;
  padding-right: 20px;
  cursor: context-menu;
}

.conversation {
  position: absolute;
  width: 1318px;
  height: 214px;
  left: 301px;
  top: 110px;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.explanation {
  position: absolute;
  width: 1393px;
  height: 214px;
  left: 263px;
  top: 320px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}

.startlistening {
  margin-top: 60px;
  padding: 10px;
  background: #752565;
  border-color: #752565;
  border-radius: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}

.startlistening :hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 1px 1px 1px black;
          box-shadow: 1px 1px 1px black;
}

.wave_bot {
  position: absolute;
  width: 1920px;
  height: 838.42px;
  left: -15px;
  top: 237px;
  z-index: -5;
  opacity: 0;
  -webkit-animation: fade-bot infinite;
          animation: fade-bot infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.wave_mid {
  position: absolute;
  width: 1920px;
  height: 838.42px;
  left: 0px;
  top: 241.58px;
  z-index: -4;
  opacity: 0;
  -webkit-animation: fade-mid infinite;
          animation: fade-mid infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.wave_top {
  position: absolute;
  width: 1920px;
  height: 838.42px;
  top: 258px;
  z-index: -3;
  opacity: 0;
  -webkit-animation: fade-top infinite;
          animation: fade-top infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes fade-top {
  0% {
    opacity: 0.6;
  }
  40% {
    opacity: 1;
    margin-top: 20px;
  }
  99% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes fade-top {
  0% {
    opacity: 0.6;
  }
  40% {
    opacity: 1;
    margin-top: 20px;
  }
  99% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.6;
  }
}

@-webkit-keyframes fade-mid {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
    margin-top: 20px;
  }
  99% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes fade-mid {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
    margin-top: 20px;
  }
  99% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.6;
  }
}

@-webkit-keyframes fade-bot {
  0% {
    opacity: 0.6;
  }
  60% {
    opacity: 1;
    margin-top: 20px;
  }
  99% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes fade-bot {
  0% {
    opacity: 0.6;
  }
  60% {
    opacity: 1;
    margin-top: 20px;
  }
  99% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.6;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #274a60;
  overflow: hidden;
}
/*# sourceMappingURL=landing.css.map */